# hometask_1
# my telegramm username
# @AlexVMel
# https://t.me/AlexVMel

# Gradle files
.gradle/

# User-specific configurations
*.iml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db